.button{
    display: inline-block;
    padding: 10px;
    cursor: pointer;
    text-align: center;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    transition: all 0.2s;
}

.primary{
    color: var(--white);
    background-color: var(--primary);
}
.primary:hover{
    background-color: var(--primary-hover);
}

.ghost{
    color: var(--black);
    background: none;
    border: 1px solid var(--gray-light);
}

.ghost:hover{
    background-color: var(--primary);
    color: var(--white);
}

.arrow{
    display: inline-block;

    margin-left: 10px;
    transition: all 0.2s;
}

.down{
    transform: rotate(90deg);
}