.wrapper{
    display: grid;
    grid-template-columns: auto 230px minmax(320px, 1200px) auto;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
    grid-template-areas:
        ". header header ."
        ". navbar main ."
        "footer footer footer footer";
}

.header{
    grid-area: header;
    display: none;
}
.navbar{
    grid-area: navbar;
}
.main{
    grid-area: main;
}
.footer{
    grid-area: footer;
}

@media screen and (max-width: 765px) {
    .wrapper{
        grid-template-columns: minmax(320px, 1fr);
        grid-template-areas:
            "header"
            "main"
            "footer";
    }
    .header{
        display: block;
    }
    .navbar{
        display: none;
    }
}
