.footer{
    display: grid;
    grid-template-columns: 1fr auto auto;
    padding: 23px 32px;
    background-color: var(--primary);
    color: var(--white);
    gap: 5px 30px;
}

.p{
    padding: 0;
    margin: 0;
}

@media screen and (max-width: 900px) {
    .footer{
        grid-template-columns: 1fr;
        justify-items: center;
    }
    .p2{
        margin: 0;
    }
}