.h1{
    margin: 0;
    font-weight: 500;
    font-size: 26px;
    line-height: 35px;
}

.h2{
    margin: 0;
    font-weight: 500;
    font-size: 22px;
    line-height: 30px;
}

.h3{
    margin: 0;
    font-weight: 600;
    font-size: 20px;
    line-height: 27px;
}