.tag{
    display: inline-block;
    padding: 5px 12px;
    border-radius: 20px;
    text-align: center;
}

.M{
    font-weight: 600;
    font-size: 14px;
    line-height: 14px;
}

.S{
    font-weight: 500;
    font-size: 12px;
    line-height: 12px;
}

.gray{
    color: var(--white);
    background: #B3C0D9;
}
.ghost{
    border: 1px solid var(--gray-light);
    background: none;
}

.green{
    color: var(--green);
    background-color: var(--green-light);
}

.primary{
    background: none;
    border: 1px solid var(--primary);
    color: var(--primary);
}

.red{
    background-color: var(--red);
    color: var(--white);
}