html,
body{
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans KR', sans-serif;
    color: var(--black);
    background: #F5F6F8;
}

a{
    text-decoration: none;
    color: inherit;
}

*,
*:after,
*:before{
    box-sizing: border-box;
}

:root{
    --black: #3B434E;
    --gray-light: #EBEBEB;
    --white: #FFF;
    --primary: #7653FC;
    --primary-hover: #41279e;
    --salmon: #FC836D;
    --green: #1DC37E;
    --green-light: #C8F8E4;
    --red: #DE0000;
    --red-light: #FC836D;
    --font-family: 'Noto Sans KR', sans-serif;
}